@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

p {
    text-align: justify;
}

h2 {
    padding: .5rem;
    text-align: center;
    font-family: 'Righteous', cursive !important;
}

.conteiner {
    padding: 2rem;
}

.col {
    margin: 1rem;
    justify-content: center;
}

.carousel-item {
    text-align: center;
}

#rubens {
    width: 720px;
    height: auto;
}

#mustang {
    width: 720px;
    height: auto;
}

#horizon {
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: auto;
    width: 30rem;
}

.nav-item {
    margin-inline: 1rem;
}

#instagram {
    height: 30px;
    width: auto;
}
