p {
    text-align: justify;
}

h2 {
    text-align: center;
    font-family: 'Righteous', cursive;
}

.conteiner {
    padding: 2rem;
}

.col {
    margin: 1rem;
}

.carousel-item {
    text-align: center;
}

#rubens {
    width: 720px;
    height: auto;
}

#mustang {
    width: 720px;
    height: auto;
}

.nav-item {
    margin-inline: 1.5rem;
}
